<delve-tree-card
        [title]="treeBoard.title"
        [description]="treeBoard.description"
        [color]="treeBoard.color"
        (thumbClick)="navigateToTree()"
        [buttonRowTemplateOutlet]="buttonRowTemplate"
        [imageUrl]="treeBoard.imageUrl">
    <ng-template #buttonRowTemplate>
        <button mat-icon-button class="md-36 tree-card-button" (click)="openEditDialog()" *ngIf="treeBoard.editable" matTooltip="Edit">
            <mat-icon>{{'settings'}}</mat-icon>
        </button>
    </ng-template>
</delve-tree-card>
