.tree-board-container {
  overflow: auto;
  height: 100%;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 16px 0;
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
    div:first-child {
      grid-column: 1/ span 2;
      h1 {
        font-size: 30px;
      }
    }
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.tree-board-search-field {
  width: 200px;
}

.tree-board-header {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;

  > div {
    width: auto;
    flex: 1;
  }
}

.right-button-group {
  padding-top: 10px;
  float: right;
}
