<div style="padding: 32px">

    <mat-card style="max-width:350px; margin: auto">
        <mat-card-header>
            <mat-card-title>{{'function.auth.label.signup' | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field class="register-card-input-field">
                <input #name="ngModel" matInput type="text" placeholder="{{'function.auth.input.placeholder.name' | translate}}" [(ngModel)]="form.name" required>
            </mat-form-field>
            <mat-form-field class="register-card-input-field">
                <input #username="ngModel" matInput type="text" placeholder="{{'function.auth.input.placeholder.username' | translate}}" [(ngModel)]="form.username"
                       required>
            </mat-form-field>
            <mat-form-field class="register-card-input-field">
                <input #email="ngModel" matInput type="text" placeholder="{{'function.auth.input.placeholder.email' | translate}}" [(ngModel)]="form.email" required>
            </mat-form-field>
            <mat-form-field class="register-card-input-field">
                <input #password="ngModel" matInput type="password" placeholder="{{'function.auth.input.placeholder.password' | translate}}" [(ngModel)]="form.password"
                       required>
            </mat-form-field>
        </mat-card-content>

        <button mat-raised-button (click)="onSubmit()" color="primary"
                [disabled]="!name.valid || !username.valid || !email.valid || !password.valid">{{'function.auth.button.submit' | translate}}
        </button>
    </mat-card>

</div>
