.dialog-button-row button {
  margin-right: 8px;
}

.dialog-title {
  display: inline-block;
}

.accessibility-toggle {
  float: right;
  margin-top: 5px;
}

.form-full-width {
  width: 100%;
}

.color-picker-icon:hover {
  cursor: pointer;
}
