<h1 mat-dialog-title class="dialog-title">{{title}}</h1>

<form class="header-right" #headerForm="ngForm">
  <mat-slide-toggle class="accessibility-toggle" [(ngModel)]="data.public" name="accessibility">
    <mat-icon matTooltip="{{data.public ? 'Public' : 'Private'}}">{{data.public ? 'lock_open' : 'lock'}}
    </mat-icon>
  </mat-slide-toggle>

  <mat-icon class="color-picker-icon" matTooltip="Color" [(colorPicker)]="data.treeBoard.color"
            (colorPickerChange)="onColorPickerChange()" [style.color]="data.treeBoard.color">palette
  </mat-icon>
</form>

<div mat-dialog-content>
  <form #cardFrom="ngForm">
    <mat-form-field class="form-full-width">
      <input matInput placeholder="Title" [(ngModel)]="data.treeBoard.title" name="title">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <input matInput placeholder="Description" [(ngModel)]="data.treeBoard.description" name="description">
    </mat-form-field>

    <mat-form-field class="form-full-width">
      <mat-select placeholder="Tree" [(ngModel)]="data.treeBoard.treeId" name="tree">
        <mat-option *ngFor="let tree of data.trees" [value]="tree.id">
          {{tree.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <form class="image-upload" #imageUploadForm="ngForm">
        <input type="file" accept=".png" (change)="onFileChanged($event)" hidden #imageInput>
        <mat-form-field class="image-upload-input">
          <input matInput disabled placeholder="Image" [(ngModel)]="selectedImageName" name="image">
        </mat-form-field>
        <div class="image-upload-button-group">
          <button mat-mini-fab (click)="imageInput.click()" color="primary" matTooltip="Choose">
            <mat-icon>insert_photo</mat-icon>
          </button>
          <button mat-mini-fab (click)="onUploadClick()" color="primary" matTooltip="Upload"
                  [disabled]="!selectedImage">
            <mat-icon>publish</mat-icon>
          </button>
        </div>
      </form>
      <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
    </div>

  </form>
</div>
<div mat-dialog-actions class="dialog-button-row">
  <button mat-flat-button color="basic" mat-dialog-close="false">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSaveClick()"
          [disabled]="(cardFrom.form.pristine && headerForm.form.pristine
          && !colorChanged && !imageChanged)
          || !data.treeBoard.title || !data.treeBoard.description
          || !data.treeBoard.treeId || !data.treeBoard.image"
  >Save</button>
  <button mat-flat-button color="warn" (click)="onDeleteClick()" *ngIf="deleteVisible">Delete</button>
</div>
