.dialog-button-row button {
  margin-right: 8px;
}

.dialog-title {
  display: inline-block;
}

.accessibility-toggle {
  margin-top: 5px;
}

.form-full-width {
  width: 100%;
}

.color-picker-icon {
  margin-top: 5px;
  padding-left: 10px;
}

.color-picker-icon:hover {
  cursor: pointer;
}

.header-right {
  float: right;
}

.image-upload-button-group {
  display: inline-block;
  float: right;

  button {
    margin: 0 5px;
  }
}
