.tree-view-content {
  padding: 16px;
  text-align: center;
  min-height: fit-content;
  height: 100%;
}

.tree-view-title {
  width: fit-content;
  margin: auto;
}

.tree-view {
  display: inline-block;
}
