.dialog-button-row button {
  margin-right: 8px;
}

.dialog-title {
  display: inline-block;
}

.tree-toggle {
  margin-top: 5px;
}

.form-full-width {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.node-select-button {
  margin-left: 10px;
}
