<div class="flex">
    <h1 mat-dialog-title class="dialog-title flex-1">{{'function.tree.edit.label.title.create' | translate}}</h1>

    <form #headerForm="ngForm">
        <mat-slide-toggle class="tree-toggle" [(ngModel)]="requestData.public" name="accessibility">
            <mat-icon matTooltip="{{(requestData.public ? 'function.tree.edit.tooltip.accessibility.public' : 'function.tree.edit.tooltip.accessibility.private') | translate}}">
                {{requestData.public ? 'lock_open' : 'lock'}}
            </mat-icon>
        </mat-slide-toggle>
    </form>
</div>

<div mat-dialog-content>
    <form #treeFrom="ngForm" [formGroup]="form">
        <mat-form-field class="form-full-width">
            <input [formControl]="titleField" matInput type="text" placeholder="{{'function.tree.edit.input.placeholder.title' | translate}}">
            <mat-error>{{getErrorMessage(titleField)}}</mat-error>
        </mat-form-field>

        <div class="flex">
            <h1 class="flex-1 mat-h3">{{'function.tree.edit.label.node.root' | translate}}</h1>
            <mat-slide-toggle class="tree-toggle" [disabled]="nodeToggleDisabled" [(ngModel)]="newNode" [ngModelOptions]="{standalone: true}">
                <mat-icon matTooltip="{{(newNode ? 'function.tree.edit.tooltip.node.new' : 'function.tree.edit.tooltip.node.existing') | translate}}">
                    {{newNode ? 'add' : 'device_hub'}}
                </mat-icon>
            </mat-slide-toggle>
        </div>

        <div class="flex" *ngIf="!newNode">
            <mat-form-field class="flex-1">
                <mat-select placeholder="{{'function.tree.edit.input.placeholder.tree' | translate}}" (selectionChange)="onTreeSelectChange($event)">
                    <mat-option *ngFor="let tree of availableTrees" [value]="tree">
                        {{tree.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="onNodeSelectClick()" [disabled]="!rootNode" mat-mini-fab color="primary" class="node-select-button" matTooltip="{{'function.tree.edit.tooltip.selectnode' | translate}}">
                <mat-icon>scatter_plot</mat-icon>
            </button>
        </div>
    </form>
</div>
<div mat-dialog-actions class="dialog-button-row">
    <button mat-flat-button color="basic" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
        {{'function.tree.edit.button.cancel' | translate}}
    </button>
    <button mat-flat-button color="primary" (click)="onSaveClick()"
            [disabled]="(treeFrom.form.pristine && headerForm.form.pristine)|| !titleField.valid">
        <mat-icon>save</mat-icon>
        {{'function.tree.edit.button.save' | translate}}
    </button>
</div>
