<div class="card">
    <div (click)="navigateToTree()" class="thumb"
         [style.backgroundImage]="'url(' + treeCard.imageUrl + ')'"
         [style.backgroundColor]="treeCard.color"></div>
    <article>
        <h1 class="mat-h1">{{treeCard.title}}</h1>
        <p class="mat-body">{{treeCard.description}}</p>
    </article>
    <div class="card-icon-group">
        <div class="flex-fill"></div>
        <mat-icon class="tree-card-icon" matTooltip="{{'function.treecard.tooltip.owner' | translate: {'name': treeCard.ownerName} }}">person</mat-icon>
        <button mat-icon-button class="tree-card-icon-button" (click)="openEditDialog()" *ngIf="treeCard.editable" matTooltip="{{'function.treecard.tooltip.edit' | translate}}">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>
